##############################
# Build results
##############################

[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

##############################
# Visual Studio
##############################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

##############################
# Rider
##############################

.idea/
*.sln.iml

##############################
# VS Code
##############################

.vscode/

##############################
# NuGet
##############################

*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

##############################
# Publish
##############################

publish/
*.publishsettings

##############################
# Azure
##############################

.azure/

##############################
# Test Results
##############################

TestResults/
*.trx
*.coverage
*.coveragexml

##############################
# Resharper
##############################

_ReSharper*/
*.DotSettings.user

##############################
# OS Files
##############################

.DS_Store
Thumbs.db

##############################
# Environment variables
##############################

.env
.env.*

##############################
# JetBrains Rider
##############################

.idea/

##############################
# DotCover
##############################

*.dotCover